<div>
    <sly-field title="Input Video ID"
               description="Define id of the labeled video">
        <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
            <i class="zmdi zmdi-key"></i>
        </sly-icon>
        <el-input placeholder="Please input video id" v-model="state.videoId"></el-input>
    </sly-field>
    <sly-field title="Frame range"
               description="Entire video or frame range">
        <sly-icon slot="icon" :options="{ color: '#ceadff', bgColor: '#f6ebff', rounded: false }">
            <i class="zmdi zmdi-collection-video"></i>
        </sly-icon>
        <el-checkbox v-model="state.allFrames">Render entire video</el-checkbox>
        <div class="fflex mt5">
            <div style="min-width:80px;">Start frame:</div>
            <el-input-number v-model="state.startFrame" :disabled="state.allFrames"></el-input-number>
        </div>
        <div class="fflex mt5">
            <div style="min-width:80px;">End frame:</div>
            <el-input-number v-model="state.endFrame" :disabled="state.allFrames"></el-input-number>
        </div>
    </sly-field>

    <sly-field title="Rendering options"
               description="BBox line width and bitmap opacity">
        <sly-icon slot="icon" :options="{ color: '#ea9d22', bgColor: '#fcefd9', rounded: false }">
            <i class="zmdi zmdi-brush"></i>
        </sly-icon>
        <el-checkbox class="mt5" v-model="state.showClassName">Draw class name</el-checkbox>
        <div class="fflex mt5">
            <div style="min-width:80px;">Line width:</div>
            <el-slider v-model="state.thickness"
                       style="width: 100%"
                       :max="10"
            ></el-slider>
        </div>
        <div class="fflex mt5">
            <div style="min-width:110px;">Bitmap opacity:</div>
            <el-slider v-model="state.opacity"
                       style="width: 100%"
                       :format-tooltip="(val) => { return val / 100; }"
            ></el-slider>
        </div>
    </sly-field>
</div>